<div>
    <br>
    <div nz-row >
        <div nz-col>
            <nz-card>
                <ng-template #title>周围血管科数据录入系统<span id="red">&nbsp;( *为必填项 )</span></ng-template>
                <ng-template #body>
                    <nz-steps [(nzCurrent)]="current" [nzSize]="'small'" >
                        <nz-step *ngFor="let step of schedule_list,index as i" [nzTitle]="step.status" [nzDescription]="step.descript" ></nz-step>
                    </nz-steps>
                    <div *ngFor="let question of questionList">
                        <div [ngSwitch]="question.type">
                            <app-inputcmp     *ngSwitchCase="'input'"     [question]="question" (onVoted)="onVoted($event)" ></app-inputcmp>
                            <app-radiocmp     *ngSwitchCase="'radio'"     [question]="question" (onVoted)="onVoted($event)" ></app-radiocmp>
                            <app-single *ngSwitchCase="'singletable'" [question]="question" (onVoted)="onVoted($event)"></app-single>
                        </div>
                    </div>
                    <div class="steps-action">
                        <button *ngIf="!buttondisable"  nz-button [nzType]="'default'" (click)="pre()">
                            <span>上一步</span>
                        </button>
                        <button *ngIf="!buttondisable"  nz-button [nzType]="'default'" (click)="next()">
                            <span>下一步</span>
                        </button>
                        <button *ngIf="!buttondisable"  nz-button [nzType]="'default'" (click)="temporary_deposit()" >
                            <span>暂存</span>
                        </button>
                        <button nz-button [nzType]="'default'" (click)="exit()">
                            <span>退出</span>
                        </button>
                    </div>
                </ng-template>
            </nz-card>
        </div>
    </div>
</div>




