<img src="assets/img/proSearch.png" alt="" class="proSearch" />
<div class="project-content auto">
    <h3>生物样本库</h3>
    <p>
        CNC项目生物样品库是对本队列研究的生物样品进行数字化管理的数据平台。CNC项目生物样品库按照国家统一标准，参考已有队列样品库建设经验，结合西北区域实际情况进行建设的高标准的生物样品库，具有完善配套标准操作规程，确保生物样品高质量保存。通过本库数据平台可进行查询，并能进行精确定位每个样品的位置。 本库所有样品采集由具有医学专业背景的工作人员完成血样、尿样和粪便等生物样品的采集；样品现场处理后冷藏保存，于24 小时内转运至-40℃冰箱临时保存，并按全程冷链管理要求对样品进行转运至生物样品库保存于-80℃超低温存储冰箱。对样品的采集、转动和保存的全过程相关操作记录入样品数据管理系统，并可对后期样品检测结果进行追加。 依托本研究建立的西北区域首个高质量自然人群队列的规范管理的血、尿等生物样品库，是精准医学研究及应用标准统一、信息化共享的全暴露数据库重要的组成部分，将为疾病的病因学研究和精准医学应用提供西北生物样品的数据支持。
    </p>
    <div class="pro-img-box clearfix">
        <img src="assets/img/pro1.jpg" alt="" class="fl" width="790"/>
        <img src="assets/img/pro2.jpg" class="fr" width="413"/>
    </div>
    <p>CNC项目参照国家示范队列研究标准，借鉴国内外知名队列建设思路，结合西北区域实际情况，研究队列建设过程中的相关技术标准。基于该标准和规范，建立西北区域12 万人多民族自然人群队列，完成基线调查、生物样本采集和长期随访。建设整合已有分散健康信息资料的健康管理体系，实现高效追踪终点事件、全面测量暴露因素和实时管理研究对象。利用医疗健康大数据平台技术，对接健康管理体系，基于开源数据管理系统搭建队列数据库，用于存储研究对象自进入队列以来的全暴露信息。严格按照统一标准建设生物样本库，实现样本高质量存储。依托队列产生的全暴露数据、生物样本和临床终点事件记录，开展本区域常见高发疾病的病因学研究，运用纵向复杂数据分析的创新策略和路径，构建疾病风险预警体系。为中国卫生政策的制定提供重要的理论和实践依据。</p>
    <div class="pro-img-box clearfix">
        <img src="assets/img/pro3.jpg" alt="" class="fl" width="590"/>
        <img src="assets/img/pro4.jpg" class="fr" width="613"/>
    </div>
</div>
