<div [hidden]="question.hidden">
    <div nz-row >
        <div nz-col>
            <nz-card>
                <ng-template #title>
                    <label nz-form-item-required >5.8 请你回忆一下，在所经历的最严重的食物短缺时，你是否遇到过下列情况？</label>
                </ng-template>
                <ng-template #body>
                    <form nz-form [nzLayout]="'inline'" >
                        <div nz-form-control nz-col [nzSm]="20">
                            <nz-table [nzDataSource]="situationNames" [nzIsPagination]="false">
                                <thead nz-thead>
                                <tr>
                                    <th nz-th><span>是</span></th>
                                    <th nz-th><span>否</span></th>
                                    <th nz-th><span>不确定</span></th>
                                    <th nz-th><span>遇到的情况</span></th>
                                    <th nz-th><span>备注</span></th>
                                </tr>
                                </thead>

                                <tbody nz-tbody>
                                <tr nz-tbody-tr *ngFor="let situationName of situationNames,index as i">  <!--根据酒名生成每一行数据-->

                                    <td nz-td>
                                        <label nz-checkbox [(ngModel)]="localAnswer[i][0]" [nzDisabled]="editdisabled" (ngModelChange)="radioChange(i,0)" [ngModelOptions]="{standalone: true}"></label>
                                    </td>
                                    <td nz-td>
                                        <label nz-checkbox [(ngModel)]="localAnswer[i][1]" [nzDisabled]="editdisabled" (ngModelChange)="radioChange(i,1)" [ngModelOptions]="{standalone: true}"></label>
                                    </td>
                                    <td nz-td>
                                        <label nz-checkbox [(ngModel)]="localAnswer[i][2]" [nzDisabled]="editdisabled" (ngModelChange)="radioChange(i,2)" [ngModelOptions]="{standalone: true}"></label>
                                    </td>
                                    <td nz-td>{{situationName}}</td>
                                    <td>
                                        <label *ngIf="i == 0">如果是，下降了多少斤</label>
                                        <span>
                                  <nz-input-number *ngIf="i == 0" [nzMin]="0" [nzMax]="100" [nzDisabled]="editdisabled" [(ngModel)]="text" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}"></nz-input-number>
                                </span>
                                    </td>
                                </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </form>
                </ng-template>
            </nz-card>
        </div>
    </div>

</div>
