<img src="assets/img/proSearch.png" alt="" class="proSearch" />
<div class="project-content auto">
    <h3>调查数据库</h3>
    <p>
        CNC项目调查数据库是对项目开展过程中进行的所有调查进行管理的数据平台，根据调查表，建立每次的调查的数据子库。调查数据库数据来自西北五省各自然人群队列研究不同阶段的问卷调查，是由各地调查员在调查过程中直接从网络在线录入，或者调查对象自行在线填报后调查员审核通过的一手数据，是本队列研究重要的基础数据。调查数据库具有在线和离线的录入和修改、查询、跳转，逻辑纠错，上传图片、即刻保存；数据的导出、导入及基本统计功能，并具有能扩展到以后多次调查的能力。
        首次基线调查数据库主要包括包含了所有纳入的研究对象的基本背景信息（包括社会人口学信息、饮茶及咖啡情况、饮酒情况、吸烟情况、膳食情况、被动吸烟和室内空气污染、个人及家庭健康状况、体力活动情况、女性生育史情况、精神、睡眠、情绪状况及生活质量等方面），较全面的收集了队列成员的基本信息和相关危险因素的暴露信息，是西北自然人群队列研究的重要初始信息。
    </p>
    <div class="pro-img-box clearfix">
        <img src="assets/img/pro1.jpg" alt="" class="fl" width="790"/>
        <img src="assets/img/pro2.jpg" class="fr" width="413"/>
    </div>
    <p>CNC项目参照国家示范队列研究标准，借鉴国内外知名队列建设思路，结合西北区域实际情况，研究队列建设过程中的相关技术标准。基于该标准和规范，建立西北区域12 万人多民族自然人群队列，完成基线调查、生物样本采集和长期随访。建设整合已有分散健康信息资料的健康管理体系，实现高效追踪终点事件、全面测量暴露因素和实时管理研究对象。利用医疗健康大数据平台技术，对接健康管理体系，基于开源数据管理系统搭建队列数据库，用于存储研究对象自进入队列以来的全暴露信息。严格按照统一标准建设生物样本库，实现样本高质量存储。依托队列产生的全暴露数据、生物样本和临床终点事件记录，开展本区域常见高发疾病的病因学研究，运用纵向复杂数据分析的创新策略和路径，构建疾病风险预警体系。为中国卫生政策的制定提供重要的理论和实践依据。</p>
    <div class="pro-img-box clearfix">
        <img src="assets/img/pro3.jpg" alt="" class="fl" width="590"/>
        <img src="assets/img/pro4.jpg" class="fr" width="613"/>
    </div>
</div>
