<div class="myteam">
    <div class="myteam-intro auto">
        <h3>青海团队</h3>
        <div>
            中国西北区域自然人群队列研究（China Northwest Cohort，CNC）是国家重点研发计划“精准医学研究”重点专项支持下开展的西北区域的大规模自然人群队列研究项目。项目旨在建立涵盖西北五省超过10万人的多民族自然人群队列，系统收集队列人群的基线信息和生物样本，全面测量暴露因素，通过定期随访，建立完备的队列人群数据库和生物样本库，开展本区域常见高发疾病的病因学研究，促进西北区域人群健康，推动中国大型队列研究发展。CNC项目在西北五省实施，包括陕西、新疆、宁夏、甘肃和青海。项目牵头单位为西安交通大学，负责项目的整体设计与组织协调。项目按省分为五个课题，分别由西安交通大学、新疆医科大学、宁夏医科大学、甘肃省疾病预防控制中心和青海省疾病预防控制中心具体组织实施现场工作。实施周期为2017-2020年。
        </div>
    </div>
</div>
<div class="team-member auto clearfix">
    <ul>
        <li>
            <img src="assets/img/member1.png" alt="" />
            <div class="info">
                <p>张翼德</p>
                <p>西安交通大学</p>
            </div>
        </li>
        <li>
            <img src="assets/img/member1.png" alt="" />
            <div class="info">
                <p>张翼德</p>
                <p>西安交通大学</p>
            </div>
        </li>
        <li>
            <img src="assets/img/member1.png" alt="" />
            <div class="info">
                <p>张翼德</p>
                <p>西安交通大学</p>
            </div>
        </li>
        <li>
            <img src="assets/img/member1.png" alt="" />
            <div class="info">
                <p>张翼德</p>
                <p>西安交通大学</p>
            </div>
        </li>
        <li>
            <img src="assets/img/member1.png" alt="" />
            <div class="info">
                <p>张翼德</p>
                <p>西安交通大学</p>
            </div>
        </li>
        <li>
            <img src="assets/img/member1.png" alt="" />
            <div class="info">
                <p>张翼德</p>
                <p>西安交通大学</p>
            </div>
        </li>
        <li>
            <img src="assets/img/member1.png" alt="" />
            <div class="info">
                <p>张翼德</p>
                <p>西安交通大学</p>
            </div>
        </li>
        <li>
            <img src="assets/img/member1.png" alt="" />
            <div class="info">
                <p>张翼德</p>
                <p>西安交通大学</p>
            </div>
        </li>
        <li>
            <img src="assets/img/member1.png" alt="" />
            <div class="info">
                <p>张翼德</p>
                <p>西安交通大学</p>
            </div>
        </li>
        <li>
            <img src="assets/img/member1.png" alt="" />
            <div class="info">
                <p>张翼德</p>
                <p>西安交通大学</p>
            </div>
        </li>
        <li>
            <img src="assets/img/member1.png" alt="" />
            <div class="info">
                <p>张翼德</p>
                <p>西安交通大学</p>
            </div>
        </li>
        <li>
            <img src="assets/img/member1.png" alt="" />
            <div class="info">
                <p>张翼德</p>
                <p>西安交通大学</p>
            </div>
        </li>
    </ul>
</div>

