<img src="assets/img/proSearch.png" alt="" class="proSearch" />
<div class="project-content auto">
    <p>中国西北区域自然人群队列研究（China Northwest Cohort，CNC）是国家重点研发计划“精准医学研究”重点专项支持下开展的西北区域的大规模自然人群队列研究项目。项目旨在建立涵盖西北五省超过10万人的多民族自然人群队列，系统收集队列人群的基线信息和生物样本，全面测量暴露因素，通过定期随访，建立完备的队列人群数据库和生物样本库，开展本区域常见高发疾病的病因学研究，促进西北区域人群健康，推动中国大型队列研究发展。CNC项目在西北五省实施，包括陕西、新疆、宁夏、甘肃和青海。项目牵头单位为西安交通大学，负责项目的整体设计与组织协调。项目按省分为五个课题，分别由西安交通大学、新疆医科大学、宁夏医科大学、甘肃省疾病预防控制中心和青海省疾病预防控制中心具体组织实施现场工作。实施周期为2017-2020年。</p>
    <div class="pro-img-box clearfix">
        <img src="assets/img/pro1.jpg" alt="" class="fl" width="790"/>
        <img src="assets/img/pro2.jpg" class="fr" width="413"/>
    </div>
    <p>CNC项目参照国家示范队列研究标准，借鉴国内外知名队列建设思路，结合西北区域实际情况，研究队列建设过程中的相关技术标准。基于该标准和规范，建立西北区域12 万人多民族自然人群队列，完成基线调查、生物样本采集和长期随访。建设整合已有分散健康信息资料的健康管理体系，实现高效追踪终点事件、全面测量暴露因素和实时管理研究对象。利用医疗健康大数据平台技术，对接健康管理体系，基于开源数据管理系统搭建队列数据库，用于存储研究对象自进入队列以来的全暴露信息。严格按照统一标准建设生物样本库，实现样本高质量存储。依托队列产生的全暴露数据、生物样本和临床终点事件记录，开展本区域常见高发疾病的病因学研究，运用纵向复杂数据分析的创新策略和路径，构建疾病风险预警体系。为中国卫生政策的制定提供重要的理论和实践依据。</p>
    <div class="pro-img-box clearfix">
        <img src="assets/img/pro3.jpg" alt="" class="fl" width="590"/>
        <img src="assets/img/pro4.jpg" class="fr" width="613"/>
    </div>
</div>
