<div>
    <br>
    <div nz-row >
        <div nz-col>
            <nz-card>
                <ng-template #title>健康体检调查表<span id="red">&nbsp;( *为必填项 )</span></ng-template>
                <ng-template #body>
                    <nz-steps [(nzCurrent)]="current" [nzSize]="'small'" >
                        <nz-step *ngFor="let step of schedule_list" [nzTitle]="step.status" [nzDescription]="step.descript"></nz-step>
                    </nz-steps>
                    <div *ngFor="let question of questionList">
                        <div [ngSwitch]="question.type">
                            <app-inputcmp     *ngSwitchCase="'input'"     [question]="question"></app-inputcmp>
                            <app-radiocmp     *ngSwitchCase="'radio'"     [question]="question"></app-radiocmp>
                            <app-table51      *ngSwitchCase="'table51'"   [question]="question"></app-table51>
                            <app-table53      *ngSwitchCase="'table53'"   [question]="question"></app-table53>
                            <app-table54      *ngSwitchCase="'table54'"   [question]="question"></app-table54>
                            <app-table58      *ngSwitchCase="'table58'"   [question]="question"></app-table58>
                        </div>
                    </div>
                    <div class="steps-action">
                        <button nz-button [nzType]="'default'" (click)="pre()">
                            <span>上一步</span>
                        </button>
                        <button nz-button [nzType]="'default'" (click)="next()">
                            <span>下一步</span>
                        </button>
                        <button nz-button [nzType]="'default'" (click)="temporary_deposit()" >
                            <span>暂存</span>
                        </button>
                        <button nz-button [nzType]="'default'" (click)="exit()">
                            <span>退出</span>
                        </button>
                    </div>
                </ng-template>
            </nz-card>
        </div>
    </div>
</div>




