<div>
    <br>
    <div nz-row >
        <div nz-col>
            <nz-card>
                <ng-template #title>健康体检调查表<span id="red"></span></ng-template>
                <ng-template #body>
                    <nz-steps [(nzCurrent)]="current" [nzSize]="'small'" >
                        <nz-step *ngFor="let step of b ,index as i" [nzTitle]="step.status" [nzDescription]="step.descript" (click)="jumpTo(i)"></nz-step>
                    </nz-steps>
                    <div *ngFor="let question of questionList">
                        <div [ngSwitch]="question.type">
                            <app-inputcmp     *ngSwitchCase="'input'"     [question]="question" (onVoted)="onVoted($event)" ></app-inputcmp>
                            <app-radiocmp     *ngSwitchCase="'radio'"     [question]="question" (onVoted)="onVoted($event)" ></app-radiocmp>
                            <app-table64     *ngSwitchCase="'table64'"     [question]="question" (onVoted)="onVoted($event)" ></app-table64>
                            <app-multi-radio     *ngSwitchCase="'multi-radio'"     [question]="question" (onVoted)="onVoted($event)" ></app-multi-radio>
                            <app-selectable-table *ngSwitchCase="'selectable-table'" [question]="question" (onVoted)="onVoted($event)"></app-selectable-table>
                            <app-selectable-input *ngSwitchCase="'multi-input'" [question]="question" (onVoted)="onVoted($event)"></app-selectable-input>
                        </div>
                    </div>
                    <div class="steps-action">
                        <button *ngIf="!buttondisable"  nz-button [nzType]="'default'" (click)="pre()">
                            <span>上一步</span>
                        </button>
                        <button *ngIf="!buttondisable"  nz-button [nzType]="'default'" (click)="next()">
                            <span>下一步</span>
                        </button>
                        <button *ngIf="!buttondisable"  nz-button [nzType]="'default'" (click)="temporary_deposit()" >
                            <span>暂存</span>
                        </button>
                        <button nz-button [nzType]="'default'" (click)="exit()">
                            <span>退出</span>
                        </button>
                    </div>
                </ng-template>
            </nz-card>
        </div>
    </div>
</div>




