<div class="content__title">
    <h1>
        人员介绍
    </h1>
</div>
<div nz-row [nzGutter]="32">
    <div nz-col [nzXs]="24" [nzSm]="8">
        <nz-card>
            <ng-template #body>
                <div class="text-right text-grey">
                    <img alt class="img-fluid align-middle" src="./assets/img/bg1.jpg">
                </div>
                <h3 class="h3">99.999</h3>
                <p class="text-grey">Games played last month</p>
            </ng-template>
        </nz-card>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="8">
        <nz-card>
            <ng-template #body>
                <div class="text-right text-grey">
                    <img alt class="img-fluid align-middle" src="./assets/img/bg1.jpg">
                </div>
                <h3 class="h3">300</h3>
                <p class="text-grey">Coffee cups per day</p>
            </ng-template>
        </nz-card>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="8">
        <nz-card>
            <ng-template #body>
                <div class="text-right text-grey">
                    <img alt class="img-fluid align-middle" src="./assets/img/bg1.jpg">
                </div>
                <h3 class="h3">1000 Gb</h3>
                <p class="text-grey">Average Monthly Uploads</p>
            </ng-template>
        </nz-card>
    </div>
</div>

<div nz-row [nzGutter]="24">
    <div nz-col [nzXs]="24" [nzSm]="6">
        <nz-card>
            <ng-template #body>
                <div class="text-right text-grey">
                    <img alt class="img-fluid align-middle" src="./assets/img/bg1.jpg">
                </div>
                <h3 class="h3">99.999</h3>
                <p class="text-grey">Games played last month</p>
            </ng-template>
        </nz-card>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="6">
        <nz-card>
            <ng-template #body>
                <div class="text-right text-grey">
                    <img alt class="img-fluid align-middle" src="./assets/img/bg1.jpg">
                </div>
                <h3 class="h3">300</h3>
                <p class="text-grey">Coffee cups per day</p>
            </ng-template>
        </nz-card>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="6">
        <nz-card>
            <ng-template #body>
                <div class="text-right text-grey">
                    <img alt class="img-fluid align-middle" src="./assets/img/bg1.jpg">
                </div>
                <h3 class="h3">1000 Gb</h3>
                <p class="text-grey">Average Monthly Uploads</p>
            </ng-template>
        </nz-card>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="6">
        <nz-card>
            <ng-template #body>
                <div class="text-right text-grey">
                    <img alt class="img-fluid align-middle" src="./assets/img/bg1.jpg">
                </div>
                <h3 class="h3">1000 Gb</h3>
                <p class="text-grey">Average Monthly Uploads</p>
            </ng-template>
        </nz-card>
    </div>
</div>
