<div nz-row>
    <div nz-col>
        <nz-card>
            <ng-template #title>{{question.id}} {{question.tittle}}</ng-template>
            <ng-template #body>
                <form nz-form [nzLayout]="'inline'">
                    <div nz-form-control nz-col [nzSm]="20">
                        <ng-container *ngFor="let item of question.content,index as i">
                            <label nz-checkbox [(ngModel)]="localAnswer[i]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}">
                                <span>{{item}}</span>
                            </label>
                        </ng-container>
                    </div>
                </form>
            </ng-template>
        </nz-card>
    </div>
</div>