<div [hidden]="question.hidden">
    <div nz-row >
        <div nz-col>
            <nz-card>
                <ng-template #title>
                    <label nz-form-item-required >3.5 下面了解一下在三种不同情况下，你喝的是什么酒，喝多少？</label>
                </ng-template>
                <ng-template #body>
                    <form nz-form [nzLayout]="'inline'" >
                        <div nz-form-control nz-col [nzSm]="20">
                            <nz-table>
                                <thead nz-thead>
                                <tr>

                                    <th nz-th><span>酒类</span></th>
                                    <th nz-th><span>在通常情况下(单位/啤酒-瓶,白酒-两)</span></th>
                                    <th nz-th><span>因特殊情况而大量饮酒时</span></th>
                                    <th nz-th><span>最近一次饮酒时</span></th>
                                </tr>
                                </thead>

                                <tbody nz-tbody>
                                <tr nz-tbody-tr *ngFor="let wineName of wineNames,index as i">
                                    <td nz-td>{{wineName}}</td>
                                    <td nz-td>
                                        <span>
                                            <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="localAnswer[i][0]" [nzDisabled]="editdisabled" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}"></nz-input-number>
                                        </span>
                                    </td>
                                    <td nz-td>
                                        <span>
                                            <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="localAnswer[i][1]" [nzDisabled]="editdisabled" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}"></nz-input-number>
                                        </span>
                                    </td>
                                    <td nz-td>
                                        <span>
                                            <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="localAnswer[i][2]" [nzDisabled]="editdisabled" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}"></nz-input-number>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </form>
                </ng-template>
            </nz-card>
        </div>
    </div>

</div>
