<div nz-row [nzGutter]="24" class="py-lg">
    <div nz-col [nzSpan]="6">
        <nz-card [nzNoHovering]="true" class="ant-card__body-nopadding">
            <ng-template #title>个人设置</ng-template>
            <ng-template #body>
                <a (click)="active=1" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white':active===1}">个人资料</a>
                <a (click)="active=2" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white':active===2}">修改密码</a>
            </ng-template>
        </nz-card>
        <nz-card [nzNoHovering]="true" class="ant-card__body-nopadding">
            <ng-template #title>开发者设置</ng-template>
            <ng-template #body>
                <a (click)="active=3" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white':active===5}">用户管理</a>
                <a (click)="active=4" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white':active===6}">权限管理</a>
            </ng-template>
        </nz-card>
    </div>
    <div nz-col [nzSpan]="18">
        <nz-card [nzNoHovering]="true" *ngIf="active===1">
            <ng-template #title>Public profile</ng-template>
            <ng-template #body>
                <div nz-row [nzGutter]="64">
                    <div nz-col [nzSpan]="16">
                        <form nz-form [formGroup]="profileForm" (ngSubmit)="profileSave($event, profileForm.value)" [nzLayout]="'vertical'">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="name" nz-form-item-required>name</label>
                                </div>
                                <div nz-form-control nz-col [nzHasFeedback]="'true'" [nzValidateStatus]="name">
                                    <nz-input formControlName="name" [nzId]="'name'"></nz-input>
                                    <div *ngIf="name.invalid && (name.dirty || name.touched)">
                                        <div nz-form-explain *ngIf="name.errors.required">required</div>
                                        <div nz-form-explain *ngIf="name.errors.pattern">must match pattern [-_a-zA-Z0-9]</div>
                                    </div>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="email">email</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-select formControlName="email">
                                        <nz-option [nzLabel]="'Select a verified email to display'" [nzValue]="''"></nz-option>
                                        <nz-option [nzLabel]="'cipchk@qq.com'" [nzValue]="'cipchk@qq.com'"></nz-option>
                                    </nz-select>
                                    <div nz-form-explain>You can manage verified email addresses in your <a (click)="active=3">email settings</a>.</div>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="bio">Bio</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input formControlName="bio" [nzId]="'bio'" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'Tell us a little bit about yourself'"></nz-input>
                                    <div nz-form-explain>You can <strong>@mention</strong> other users and organizations to link to them.</div>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="url">URL</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input formControlName="url" [nzId]="'url'"></nz-input>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="company">Company</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input formControlName="company" [nzId]="'company'"></nz-input>
                                    <div nz-form-explain>You can <strong>@mention</strong> your company's GitHub organization to link it.</div>
                                </div>
                            </div>
                            <div nz-form-item nz-row class="border-top-1 mt-md pt-md">
                                <div nz-form-label nz-col>
                                    <label for="location">Location</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input formControlName="location" [nzId]="'location'"></nz-input>
                                </div>
                            </div>
                            <div nz-row>
                                <button nz-button [nzType]="'primary'" [disabled]="profileForm.invalid">Update profile</button>
                            </div>
                        </form>
                    </div>
                    <div nz-col [nzSpan]="8">
                        <h4>Profile picture</h4>
                        <img src="./assets/img/avatar.jpg" style="width: 100%;">
                        <button nz-button class="ant-btn__block">
                            <span>Upload new picture</span>
                        </button>
                    </div>
                </div>
            </ng-template>
        </nz-card>
        <nz-card [nzNoHovering]="true" *ngIf="active===2">
            <ng-template #title>Change password</ng-template>
            <ng-template #body>
                <div nz-row [nzGutter]="64">
                    <div nz-col [nzSpan]="16">
                        <form nz-form [nzLayout]="'vertical'">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="old_password" nz-form-item-required>Old password</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input [(ngModel)]="pwd.old_password" name="old_password" [nzId]="'old_password'" [nzType]="'password'" required></nz-input>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="new_password" nz-form-item-required>New password</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input [(ngModel)]="pwd.new_password" name="new_password" [nzId]="'new_password'" [nzType]="'password'" required></nz-input>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="confirm_new_password" nz-form-item-required>Confirm new password</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input [(ngModel)]="pwd.confirm_new_password" name="confirm_new_password" [nzId]="'confirm_new_password'" [nzType]="'password'" required></nz-input>
                                </div>
                            </div>
                            <div nz-row>
                                <button nz-button (click)="pwdSave()" [nzType]="'primary'">Update profile</button>
                                <a class="pl-sm" [routerLink]="['/forget']">I forgot my password</a>
                            </div>
                        </form>
                    </div>
                </div>
                <h2 class="py-md mt-lg border-bottom-1">Change username</h2>
                <p class="py-sm">Changing your username can have unintended side effects.</p>
                <button nz-button (click)="msg.info('to change username page')" [nzSize]="'large'">
                    <span>Change username</span>
                </button>

            </ng-template>
        </nz-card>
        <nz-card [nzNoHovering]="true" *ngIf="active===3">
            <ng-template #title>用户管理</ng-template>
            <ng-template #body>
                <nz-card>
                    <ng-template #body>
                        <form nz-form>
                            <div nz-row nz-form-item [nzGutter]="16">
                                <div nz-form-label nz-col [nzSm]="2">
                                    <label for="name">Name</label>
                                </div>
                                <div nz-form-control nz-col [nzSm]="5">
                                    <nz-input [(ngModel)]="args.name" name="name" [nzId]="'name'"></nz-input>
                                </div>
                                <div nz-form-label nz-col [nzSm]="2">
                                    <label>Created</label>
                                </div>
                                <div nz-form-control nz-col [nzSm]="8">
                                    <div nz-row>
                                        <div nz-form-control nz-col [nzSpan]="11">
                                            <nz-datepicker [(ngModel)]="args.created_begin" name="created_begin" [nzPlaceHolder]="'begin'"></nz-datepicker>
                                        </div>
                                        <div nz-col [nzSpan]="1">
                                            <p nz-form-split>-</p>
                                        </div>
                                        <div nz-form-control nz-col [nzSpan]="11">
                                            <nz-datepicker [(ngModel)]="args.created_end" name="created_end" [nzPlaceHolder]="'end'"></nz-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div nz-form-label nz-col [nzSm]="2">
                                    <label>Gender</label>
                                </div>
                                <div nz-form-control nz-col [nzSm]="5">
                                    <nz-dropdown>
                                        <a class="ant-dropdown-link" nz-dropdown>
                                            {{args.gender ? args.gender : 'unlimit'}} <i class="anticon anticon-down"></i>
                                        </a>
                                        <ul nz-menu>
                                            <li nz-menu-item (click)="args.gender=''">unlimit</li>
                                            <li nz-menu-item (click)="args.gender='male'">male</li>
                                            <li nz-menu-item (click)="args.gender='female'">female</li>
                                        </ul>
                                    </nz-dropdown>
                                    <span class="text-grey-light">(only valid)</span>
                                </div>
                            </div>
                            <div nz-row nz-form-item [nzGutter]="16" class="mb0">
                                <div nz-form-label nz-col [nzSm]="2">
                                    <label for="userid">User ID</label>
                                </div>
                                <div nz-form-control nz-col [nzSm]="5">
                                    <nz-input [(ngModel)]="args.userid" name="userid" [nzId]="'userid'" [nzPlaceHolder]="'placeholder'"></nz-input>
                                </div>
                                <div nz-form-label nz-col [nzSm]="2">
                                    <label>Modified</label>
                                </div>
                                <div nz-form-control nz-col [nzSm]="8">
                                    <div nz-row>
                                        <div nz-form-control nz-col [nzSpan]="11">
                                            <nz-datepicker [(ngModel)]="args.modified_begin" name="modified_begin" [nzPlaceHolder]="'begin'"></nz-datepicker>
                                        </div>
                                        <div nz-col [nzSpan]="1">
                                            <p nz-form-split>-</p>
                                        </div>
                                        <div nz-form-control nz-col [nzSpan]="11">
                                            <nz-datepicker [(ngModel)]="args.modified_end" name="modified_end" [nzPlaceHolder]="'end'"></nz-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div nz-col [nzSm]="5" [nzOffset]="2">
                                    <button nz-button [nzType]="'primary'" (click)="load(1)" [nzLoading]="loading">Search</button>
                                    <button nz-button (click)="clear()" [disabled]="loading">Clear</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </nz-card>
                <div nz-row [nzGutter]="16">
                <div nz-col [nzMd]="24">
                    <nz-card>
                        <ng-template #body>
                            <div class="mb-sm text-right">
                                <nz-dropdown>
                                    <button nz-button nz-dropdown [disabled]="!_allChecked && !_indeterminate">
                                        <span>Export</span> <i class="anticon anticon-down"></i>
                                    </button>
                                    <ul nz-menu>
                                        <li nz-menu-item>Excel</li>
                                        <li nz-menu-item>JSON</li>
                                        <li nz-menu-item>PNG</li>
                                    </ul>
                                </nz-dropdown>
                            </div>
                            <nz-table #nzTable
                                      [nzAjaxData]="list"
                                      [nzShowSizeChanger]="true"
                                      [nzLoading]="loading"
                                      [nzTotal]="total"
                                      [(nzPageIndex)]="pi"
                                      (nzPageIndexChange)="load()"
                                      [(nzPageSize)]="ps"
                                      (nzPageSizeChange)="load()">
                                <thead nz-thead>
                                <tr>
                                    <th nz-th [nzCheckbox]="true">
                                        <label nz-checkbox
                                               [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate"
                                               (ngModelChange)="_checkAll()">
                                        </label>
                                    </th>
                                    <th nz-th><span>Avatar</span></th>
                                    <th nz-th><span>Name</span></th>
                                    <th nz-th><span>Age</span></th>
                                    <th nz-th><span>Email</span></th>
                                    <th nz-th><span>Event</span></th>
                                    <th nz-th><span>Price</span></th>
                                    <th nz-th><span>Registered</span></th>
                                    <th nz-th><span>Actions</span></th>
                                </tr>
                                </thead>
                                <tbody nz-tbody>
                                <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                                    <td nz-td [nzCheckbox]="true">
                                        <label nz-checkbox [(ngModel)]="data.checked"
                                               (ngModelChange)="refChecked()">
                                        </label>
                                    </td>
                                    <td nz-td>
                                        <nz-avatar [nzSrc]="data.picture.thumbnail" [nzSize]="'large'"></nz-avatar>
                                    </td>
                                    <td nz-td>{{data.name.first}} {{data.name.last}}</td>
                                    <td nz-td>
                                        <nz-tag *ngIf="data.gender=='female'" [nzColor]="'pink'">female</nz-tag>
                                        <nz-tag *ngIf="data.gender=='male'" [nzColor]="'green'">male</nz-tag>
                                    </td>
                                    <td nz-td>{{data.email}}</td>
                                    <td nz-td>
                                        <div sparkline data-bar-color="#cfdbe2"
                                             data-height="20" data-bar-width="2" data-bar-spacing="2"
                                             values="1,0,4,6,5,7,8,3,5,7,8"></div>
                                    </td>
                                    <td nz-td>{{data.price | _currency}}</td>
                                    <td nz-td>{{data.registered | _date: 'YYYY年MM月DD日'}}</td>
                                    <td nz-td>
                                        <a (click)="showMsg('Edit')">Edit</a>
                                        <span nz-table-divider></span>
                                        <nz-popconfirm [nzTitle]="'Are you sure？'" [nzOkText]="'ok'" [nzCancelText]="'cancel'" (nzOnConfirm)="showMsg('has deleted')" (nzOnCancel)="showMsg('cancel delete')">
                                            <a nz-popconfirm>Delete</a>
                                        </nz-popconfirm>
                                    </td>
                                </tr>
                                </tbody>
                            </nz-table>
                        </ng-template>
                    </nz-card>
                </div>
                </div>
            </ng-template>
        </nz-card>
        <nz-card [nzNoHovering]="true" *ngIf="active===4">
            <ng-template #title>Personal access tokens</ng-template>
            <ng-template #extra>
                <button nz-button (click)="msg.info('Generate new token')" [nzSize]="'small'">
                    <span>Generate new token</span>
                </button>
                <button nz-button (click)="msg.info('Revoke all')" [nzSize]="'small'" [nzType]="'danger'">
                    <span>Revoke all</span>
                </button>
            </ng-template>
            <ng-template #body>
                <p>Tokens you have generated that can be used to access the GitHub API.</p>
                <div class="list-group mt-sm">
                    <div nz-row class="list-group-item" [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'">
                        <div nz-col [nzSpan]="12">
                            <strong>octotree</strong> — repo
                        </div>
                        <div nz-col [nzSpan]="12" class="text-right">
                            Last used within the last day
                            <nz-button-group>
                                <button nz-button>Edit</button>
                                <button nz-button [nzType]="'danger'">Delete</button>
                            </nz-button-group>
                        </div>
                    </div>
                </div>
            </ng-template>
        </nz-card>
    </div>
</div>
