<div nz-row [nzGutter]="24" class="py-lg">
    <div nz-col [nzSpan]="6">
        <nz-card [nzNoHovering]="true" class="ant-card__body-nopadding">
            <ng-template #title>个人设置</ng-template>
            <ng-template #body>
                <a (click)="active=1" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white':active===1}">个人资料</a>
                <a (click)="active=2" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white':active===2}">修改密码</a>
            </ng-template>
        </nz-card>
        <nz-card [nzNoHovering]="true" class="ant-card__body-nopadding">
            <ng-template #title>开发者设置</ng-template>
            <ng-template #body>
                <a (click)="active=3" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white':active===5}">用户管理</a>
                <!--<a (click)="active=4" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white':active===6}">权限管理</a>-->
            </ng-template>
        </nz-card>
    </div>
    <div nz-col [nzSpan]="18">
        <nz-card [nzNoHovering]="true" *ngIf="active===1">
            <ng-template #title>个人资料设置</ng-template>
            <ng-template #body>
                <div nz-row [nzGutter]="64">
                    <div nz-col [nzSpan]="16">
                        <form nz-form [formGroup]="profileForm" (ngSubmit)="profileSave($event, profileForm.value)" [nzLayout]="'vertical'">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="name" nz-form-item-required>姓名</label>
                                </div>
                                <div nz-form-control nz-col [nzHasFeedback]="'true'" [nzValidateStatus]="name">
                                    <nz-input formControlName="name" [nzId]="'name'"></nz-input>
                                    <div *ngIf="name.invalid && (name.dirty || name.touched)">
                                        <div nz-form-explain *ngIf="name.errors.required">必填</div>
                                        <div nz-form-explain *ngIf="name.errors.pattern">请匹配 [-_a-zA-Z0-9]</div>
                                    </div>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="email">邮箱</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-select formControlName="email">
                                        <nz-option [nzLabel]="'Select a verified email to display'" [nzValue]="''"></nz-option>
                                        <nz-option [nzLabel]="'cipchk@qq.com'" [nzValue]="'cipchk@qq.com'"></nz-option>
                                    </nz-select>
                                    <div nz-form-explain>你可以在 <a (click)="active=3">邮箱设置</a>中管理邮件验证.</div>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="bio">个人签名</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input formControlName="bio" [nzId]="'bio'" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'简要介绍自己'"></nz-input>
                                    <div nz-form-explain>你可以 <strong>@</strong> 其他人或组织.</div>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="url">个人网址</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input formControlName="url" [nzId]="'url'"></nz-input>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="company">工作单位</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input formControlName="company" [nzId]="'company'"></nz-input>
                                    <!--<div nz-form-explain>You can <strong>@mention</strong> your company's GitHub organization to link it.</div>-->
                                </div>
                            </div>
                            <div nz-form-item nz-row class="border-top-1 mt-md pt-md">
                                <div nz-form-label nz-col>
                                    <label for="location">所在地</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input formControlName="location" [nzId]="'location'"></nz-input>
                                </div>
                            </div>
                            <div nz-row>
                                <button nz-button [nzType]="'primary'" [disabled]="profileForm.invalid">更新档案</button>
                            </div>
                        </form>
                    </div>
                    <div nz-col [nzSpan]="8">
                        <h4>个人头像</h4>
                        <img src="./assets/img/avatar.jpg" style="width: 100%;">
                        <button nz-button class="ant-btn__block">
                            <span>上传新的头像</span>
                        </button>
                    </div>
                </div>
            </ng-template>
        </nz-card>
        <nz-card [nzNoHovering]="true" *ngIf="active===2">
            <ng-template #title>修改密码</ng-template>
            <ng-template #body>
                <div nz-row [nzGutter]="64">
                    <div nz-col [nzSpan]="16">
                        <form nz-form [nzLayout]="'vertical'">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="old_password" nz-form-item-required>旧密码</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input [(ngModel)]="pwd.old_password" name="old_password" [nzId]="'old_password'" [nzType]="'password'" required></nz-input>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="new_password" nz-form-item-required>新密码</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input [(ngModel)]="pwd.new_password" name="new_password" [nzId]="'new_password'" [nzType]="'password'" required></nz-input>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="confirm_new_password" nz-form-item-required>确定新密码</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input [(ngModel)]="pwd.confirm_new_password" name="confirm_new_password" [nzId]="'confirm_new_password'" [nzType]="'password'" required></nz-input>
                                </div>
                            </div>
                            <div nz-row>
                                <button nz-button (click)="pwdSave()" [nzType]="'primary'">更新密码</button>
                                <a class="pl-sm" [routerLink]="['/forget']">忘记密码？</a>
                            </div>
                        </form>
                    </div>
                </div>
                <h2 class="py-md mt-lg border-bottom-1">修改用户名</h2>
                <p class="py-sm">直接修改用户名可能有不可预知的问题。</p>
                <button nz-button (click)="msg.info('前往修改用户名页面')" [nzSize]="'large'">
                    <span>修改用户名</span>
                </button>

            </ng-template>
        </nz-card>
        <nz-card [nzNoHovering]="true" *ngIf="active===3">
            <ng-template #title>用户管理</ng-template>
            <ng-template #body>
                <nz-card>
                    <ng-template #body>
                        <form nz-form>
                            <div nz-row nz-form-item [nzGutter]="16">
                                <div nz-form-label nz-col [nzSm]="2">
                                    <label for="name">姓名</label>
                                </div>
                                <div nz-form-control nz-col [nzSm]="5">
                                    <nz-input [(ngModel)]="args.name" name="name" [nzId]="'name'"></nz-input>
                                </div>
                                <div nz-form-label nz-col [nzSm]="2">
                                    <label>注册日期</label>
                                </div>
                                <div nz-form-control nz-col [nzSm]="8">
                                    <div nz-row>
                                        <div nz-form-control nz-col [nzSpan]="11">
                                            <nz-datepicker [(ngModel)]="args.created_begin" name="created_begin" [nzPlaceHolder]="'开始日期'"></nz-datepicker>
                                        </div>
                                        <div nz-col [nzSpan]="1">
                                            <p nz-form-split>-</p>
                                        </div>
                                        <div nz-form-control nz-col [nzSpan]="11">
                                            <nz-datepicker [(ngModel)]="args.created_end" name="created_end" [nzPlaceHolder]="'截止日期'"></nz-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div nz-form-label nz-col [nzSm]="2">
                                    <label>用户权限</label>
                                </div>
                                <div nz-form-control nz-col [nzSm]="5">
                                    <nz-dropdown>
                                        <a class="ant-dropdown-link" nz-dropdown>
                                            {{args.gender ? args.gender : 'unlimit'}} <i class="anticon anticon-down"></i>
                                        </a>
                                        <ul nz-menu>
                                            <li nz-menu-item (click)="args.gender=''">不限</li>
                                            <li nz-menu-item (click)="args.gender='male'">普通用户</li>
                                            <li nz-menu-item (click)="args.gender='female'">高级用户</li>
                                        </ul>
                                    </nz-dropdown>
                                    <span class="text-grey-light">(only valid)</span>
                                </div>
                            </div>
                            <div nz-row nz-form-item [nzGutter]="16" class="mb0">
                                <div nz-form-label nz-col [nzSm]="2">
                                    <label for="userid">用户ID</label>
                                </div>
                                <div nz-form-control nz-col [nzSm]="5">
                                    <nz-input [(ngModel)]="args.userid" name="userid" [nzId]="'userid'" [nzPlaceHolder]="'00X'"></nz-input>
                                </div>
                                <div nz-form-label nz-col [nzSm]="2">
                                    <label>最近登录</label>
                                </div>
                                <div nz-form-control nz-col [nzSm]="8">
                                    <div nz-row>
                                        <div nz-form-control nz-col [nzSpan]="11">
                                            <nz-datepicker [(ngModel)]="args.modified_begin" name="modified_begin" [nzPlaceHolder]="'开始日期'"></nz-datepicker>
                                        </div>
                                        <div nz-col [nzSpan]="1">
                                            <p nz-form-split>-</p>
                                        </div>
                                        <div nz-form-control nz-col [nzSpan]="11">
                                            <nz-datepicker [(ngModel)]="args.modified_end" name="modified_end" [nzPlaceHolder]="'截止日期'"></nz-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div nz-col [nzSm]="5" [nzOffset]="2">
                                    <button nz-button [nzType]="'primary'" (click)="load(1)" [nzLoading]="loading">查询</button>
                                    <button nz-button (click)="clear()" [disabled]="loading">清空</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </nz-card>
                <div nz-row [nzGutter]="16">
                <div nz-col [nzMd]="24">
                    <nz-card>
                        <ng-template #body>
                            <div class="mb-sm text-right">
                                <nz-dropdown>
                                    <button nz-button nz-dropdown [disabled]="!_allChecked && !_indeterminate">
                                        <span>Export</span> <i class="anticon anticon-down"></i>
                                    </button>
                                    <ul nz-menu>
                                        <li nz-menu-item>Excel</li>
                                        <li nz-menu-item>JSON</li>
                                        <li nz-menu-item>PNG</li>
                                    </ul>
                                </nz-dropdown>
                            </div>
                            <nz-table #nzTable
                                      [nzAjaxData]="list"
                                      [nzShowSizeChanger]="true"
                                      [nzLoading]="loading"
                                      [nzTotal]="total"
                                      [(nzPageIndex)]="pi"
                                      (nzPageIndexChange)="load()"
                                      [(nzPageSize)]="ps"
                                      (nzPageSizeChange)="load()">
                                <thead nz-thead>
                                <tr>
                                    <th nz-th [nzCheckbox]="true">
                                        <label nz-checkbox
                                               [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate"
                                               (ngModelChange)="_checkAll()">
                                        </label>
                                    </th>
                                    <!--<th nz-th><span></span></th>-->
                                    <th nz-th><span>姓名</span></th>
                                    <th nz-th><span>年龄</span></th>
                                    <th nz-th><span>邮箱</span></th>
                                    <th nz-th><span>省份</span></th>
                                    <th nz-th><span>权限</span></th>
                                    <th nz-th><span>注册日期</span></th>
                                    <th nz-th><span>操作</span></th>
                                </tr>
                                </thead>
                                <tbody nz-tbody>
                                <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                                    <td nz-td [nzCheckbox]="true">
                                        <label nz-checkbox [(ngModel)]="data.checked"
                                               (ngModelChange)="refChecked()">
                                        </label>
                                    </td>
                                   <!-- <td nz-td>
                                        <nz-avatar [nzSrc]="data.picture.thumbnail" [nzSize]="'large'"></nz-avatar>
                                    </td>-->
                                    <td nz-td>{{data.first_name}} {{data.last_name}}</td>
                                    <td nz-td>
                                        25
                                        <!--<nz-tag *ngIf="data.gender=='female'" [nzColor]="'pink'">female</nz-tag>
                                        <nz-tag *ngIf="data.gender=='male'" [nzColor]="'green'">male</nz-tag>-->
                                    </td>
                                    <td nz-td>{{data.email}}</td>
                                    <td nz-td>
                                        {{data.province}}
                                        <!--<div sparkline data-bar-color="#cfdbe2"
                                             data-height="20" data-bar-width="2" data-bar-spacing="2"
                                             values="1,0,4,6,5,7,8,3,5,7,8"></div>-->
                                    </td>
                                    <td nz-td>{{data.group}}</td>
                                    <td nz-td>2017年11月13日</td>
                                    <td nz-td>
                                        <a (click)="showMsg('Edit');customCompModel('', data, data.group)">管理</a>
                                        <span nz-table-divider></span>
                                        <nz-popconfirm [nzTitle]="'确定删除用户？'" [nzOkText]="'确定'" [nzCancelText]="'取消'" (nzOnConfirm)="showMsg('has deleted');deleteUser(data.username)" (nzOnCancel)="showMsg('cancel delete')">
                                            <a nz-popconfirm>删除</a>
                                        </nz-popconfirm>
                                    </td>
                                </tr>
                                </tbody>
                            </nz-table>
                        </ng-template>
                    </nz-card>
                </div>
                </div>
            </ng-template>
        </nz-card>
        <nz-card [nzNoHovering]="true" *ngIf="active===4">
            <ng-template #title>Personal access tokens</ng-template>
            <ng-template #extra>
                <button nz-button (click)="msg.info('Generate new token')" [nzSize]="'small'">
                    <span>Generate new token</span>
                </button>
                <button nz-button (click)="msg.info('Revoke all')" [nzSize]="'small'" [nzType]="'danger'">
                    <span>Revoke all</span>
                </button>
            </ng-template>
            <ng-template #body>
                <p>Tokens you have generated that can be used to access the GitHub API.</p>
                <div class="list-group mt-sm">
                    <div nz-row class="list-group-item" [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'">
                        <div nz-col [nzSpan]="12">
                            <strong>octotree</strong> — repo
                        </div>
                        <div nz-col [nzSpan]="12" class="text-right">
                            Last used within the last day
                            <nz-button-group>
                                <button nz-button>Edit</button>
                                <button nz-button [nzType]="'danger'">Delete</button>
                            </nz-button-group>
                        </div>
                    </div>
                </div>
            </ng-template>
        </nz-card>
    </div>
</div>
