<!--<div class="banner" id="b04">-->
    <!--<ul style="height: 622px">-->
        <!--<li><img src="assets/img/banner.png"></li>-->
        <!--<li><img src="assets/img/banner.png"></li>-->
        <!--<li><img src="assets/img/banner.png"></li>-->
    <!--</ul>-->
    <!--<div class="btn">-->
        <!--<a href="javascript:void(0);" class="unslider-arrow04 prev"><span class="prev" id="al"><img src="assets/img/left.png"></span></a>-->
        <!--<a href="javascript:void(0);" class="unslider-arrow04 next"><span class="next" id="ar"><img src="assets/img/right.png"></span></a>-->
    <!--</div>-->
    <!--<div class="tab">-->
        <!--&lt;!&ndash;<a href="javascript:;" class="active"></a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="javascript:;"></a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="javascript:;"></a>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->

<div style="width: 100%; height: 622px">
    <carousel [sources]="imageSources" [config]="config"></carousel>
</div>
<div class="new_head">
    <div class="new_title">
        <h2>实时新闻动态</h2>
        <!--<div class="new_code">-->
        <!--<a href="javascript:;" class="active02"></a>-->
        <!--<a href="javascript:;"></a>-->
        <!--<a href="javascript:;"></a>-->
        <!--</div>-->
        <div class="clearfix"></div>
    </div>
</div>
<div class="new_box">
    <div class="new">
        <div class="new_01">
            <h3>2017 CNC新闻发布顺利举行</h3>
            <h4>2017-08-19</h4>
            <p>由中国人民大学科学研究基金与985专项经费支持，中国人民大学老年学研究所负责设计，中国人民大学中国调查与数据中心负责具体实施的中国老年社会追踪调查（ChinaLongitudinal Aging Social Survey...</p>
            <a href="#"><img src="assets/img/more.png"></a>
        </div>
        <div class="new_01">
            <h3>2017 CNC经验交流会顺利召开</h3>
            <h4>2017-08-19</h4>
            <p>2015年3月28日下午，“CLASS项目经验交流会”在中国人民大学中国调查与数据中心如期召开。本次会议的主要目的是通过回顾2014年CLASS项目的现场执行和质量控制工作，对现场调查中的问题进行讨论和总结...</p>
            <a href="#"><img src="assets/img/more.png"></a>
        </div>
        <div class="new_02">
            <h3>美国南加州大学专家来访</h3>
            <h4>2017-08-19</h4>
            <p>2015年3月18日上午，美国南加州大学社会工作学院Iris Qi教授及Weiyu Mao博士、马里兰大学社会学系Feinian Chen教授访问我中心，就2014年中国老年社会综合调查项目(CLASS)进行研讨...</p>
            <a href="#"><img src="assets/img/more.png"></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="big_box">
    <div class="box">
        <div class="projects">
            <div class="projects_title">
                <h3>项目进展</h3>
                <a href="#"><span>更多》</span></a>
            </div>
            <img src="assets/img/pic01.png">
            <div class="projects_01">
                <h4>项目进展标题内容</h4>
                <p>由中国人民大学科学研究基金与985专项经费支持，中国人民大学老年学研究所负责设计，中国人民大学中国调查与数据中心负责具体实施的中国老年社会追踪调查（ChinaLongitudinal Aging Social Survey...</p>
            </div>
        </div>
        <div class="find">
            <div class="find_title">
                <h3>研究发现</h3>
                <a href="#"><span>更多》</span></a>
            </div>
            <img src="assets/img/pic02.png">
            <div class="find_01">
                <h4>研究发现内容标题</h4>
                <p>由中国人民大学科学研究基金与985专项经费支持，中国人民大学老年学研究所负责设计，中国人民大学中国调查与数据中心负责具体实施的中国老年社会追踪调查（ChinaLongitudinal Aging Social Survey...</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
