<div nz-row>
  <div nz-col>
      <nz-card>
          <ng-template #title>
              <label nz-form-item-required >5.3 在你家里，用于做菜的下列数量的调味品，大约可以使用多久？</label>
          </ng-template>
          <ng-template #body>
                <form nz-form [nzLayout]="'inline'" >
                    <div nz-form-control nz-col [nzSm]="20">
                        <nz-table>
                            <thead nz-thead>
                                <tr>
                                    <th nz-th><span>调味品类型</span></th>
                                    <th nz-th><span>使用天数</span></th>
                                </tr>
                            </thead>

                            <tbody nz-tbody>
                                <tr nz-tbody-tr *ngFor="let flavoringName of flavoringNames,index as i">  <!--根据酒名生成每一行数据-->
                                    <td nz-td>{{flavoringName}}</td>
                                    <td nz-td>
                                        <span>
                                            <nz-input-number [nzMin]="0" [nzDisabled]="editdisabled" [nzMax]="999" [(ngModel)]="days[i]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}"></nz-input-number>
                                        </span>
                                        天
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </form>
          </ng-template>
      </nz-card>
  </div>
</div>
